# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/.gitignore
node_modules/
app/libs/bootstrap-grid/
app/libs/owl-carousel/
app/libs/jquery.scrollTo/
app/libs/waypoints/
app/libs/fancybox/
app/libs/jquery-mousewheel/
app/libs/jquery/
app/libs/magnific-popup/
app/libs/normalize-css/
app/libs/html5shiv/
app/libs/countdown/
.htaccess
/app/libs/jquery.inputmask/
/app/libs/jquery.scroolly/
/.resurses/
